<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon-512.png">
</head>

<body>
    {{>header}}
    <div class="main-content">
        <p>It uses api form darksky and mapbox</p>
        <img src="{{imgURL}}" alt="tom-cruise" class="portrait">
        <p>User: {{name}}</p>
    </div>

    {{>footer}}
</body>

</html>