<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <link rel="icon" href="/img/icon-512.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <div class="main-content">
        <form action="">
            <input type="text" placeholder="location...">
            <button>Search</button>
        </form>

        <p id="msg-1"></p>
        <p id="msg-2"></p>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>

</body>

</html>